<!-- <div class="aligner">
  <mat-card>
    <mat-card-title class="aligner">
      Login
    </mat-card-title>
    <mat-card-content>
      <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
        <mat-form-field style="width: 100%; margin-bottom: 10px;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 1}">
          <input matInput type="text" formControlName="username" placeholder="Usuario"/>
          <mat-hint style="color: red;" *ngIf="submitted && error?.code == 1 && !loginForm.controls.username.hasError('required')">{{error.message}}</mat-hint>
          <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls.username.hasError('required')">Campo requerido</mat-hint>
        </mat-form-field>
        <mat-form-field style="width: 100%;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
          <input matInput type="password" formControlName="password" placeholder="Contraseña"/>
          <mat-hint style="color: red;" *ngIf="submitted && error?.code == 2 && !loginForm.controls.password.hasError('required')">{{error.message}}</mat-hint>
          <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls.password.hasError('required')">Campo requerido</mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-raised-button type="submit" form="login-form"> Ingresar</button>
    </mat-card-actions>
  </mat-card>
</div> -->

<div class="aligner">
  <mat-card>
      <mat-card-header class="aligner-item">
          <mat-card-title>Login</mat-card-title>
          <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
      </mat-card-header>
      <!-- <img matCardImage src="Card wide image source"> -->
      <mat-card-content>
        <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
          <mat-form-field style="width: 100%; margin-bottom: 10px;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 1}">
            <input matInput type="text" formControlName="username" placeholder="Usuario"/>
            <mat-hint style="color: red;" *ngIf="submitted && error?.code == 1 && !loginForm.controls.username.hasError('required')">{{error.message}}</mat-hint>
            <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls.username.hasError('required')">El usuario es <strong>requerido</strong></mat-hint>
          </mat-form-field>
          <mat-form-field style="width: 100%;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
            <input matInput type="password" formControlName="password" placeholder="Contraseña"/>
            <mat-hint style="color: red;" *ngIf="submitted && error?.code == 2 && !loginForm.controls.password.hasError('required')">{{error.message}}</mat-hint>
            <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls.password.hasError('required')">La contraseña es <strong>requerido</strong></mat-hint>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions  align="center">
        <button mat-raised-button type="submit" form="login-form"> Ingresar</button>
      </mat-card-actions>
  </mat-card>
</div>
