<mat-toolbar class="elevator" color="primary" class.mat-elevation-z8>
  <mat-toolbar-row>
    <span>Python Socket</span>

    <span class="toolbar-spacer"></span>

    <span class="icon-spacer">{{ user.name + ' '+ user.surname }}</span>
    <button mat-icon-button aria-label="Salir" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-nav-list>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let project of projects" >
    <a matLine mat-raised-button (click)="executeDeploy(project.group)">{{ project.group }}</a>
    <button mat-icon-button>
        <mat-icon>send</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-nav-list>
