<h1 mat-dialog-title>Proyecto: {{data.group}}</h1>
<div mat-dialog-content>
    <p>Parámetros:</p>
    <mat-form-field class="full-width margin-paddin">
        <input matInput placeholder="Nodo" disabled [value]="data.node">
        <!-- <input matInput [(ngModel)]="data.action"> -->
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Flag" disabled [value]="data.flag">
    </mat-form-field>
    <mat-form-field class="full-width margin-paddin">
      <input matInput placeholder="Tipo/acción" disabled [value]="data.action">
    </mat-form-field>
    <mat-form-field class="full-width margin-paddin">
      <input matInput placeholder="Cantidad" disabled [value]="data.target">
    </mat-form-field>
    <p>¿Está seguro de ejecutar?</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-button color="primary" [mat-dialog-close]="data.action" cdkFocusInitial (click)="deploy()">Proceder</button>
</div>
<!-- Are you sure to executes build action over node 10.40.21.94 with Crital projects? -->
